#header {
	position: relative;
	width: 100%;
	height: 40px;
	background-color: #282828;
}

#header div:first-child {
	position: absolute;
	height: 40px;
	top: 0;
	left: 0;
	padding-top: 5px;
	padding-left: 10px;
	color: #f1f1f1;
	font-size: 25px;
}

#header div:nth-child(2) {
	position: absolute;
	height: 40px;
	top: 0;
	left: 50%;
	transform: translateX(-240px);
}

#nav-first {
	list-style-type: none;
}

#nav-first li {
	float: left;
}

#nav-first a {
	display: block;
	width: 120px;
	height: 16px;
	padding: 12px 0;
	text-align: center;
	font-size: 20px;
	color: #f1f1f1;
	text-decoration: none;
}

#nav-first a:hover, #nav-first a.selected {
	font-weight: bold;
	color: #282828;
	background-color: white;
}

#header div:nth-child(3) {
	position: absolute;
	height: 40px;
	top: 0;
	right: 0;
}

#settings {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 48px;
	color: #f1f1f1;
	font-size: 14px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

#nav-second {
	position: absolute;
	top: 40px;
	right: 0;
	width: 76px;
	font-size: 14px;
	background-color: #f1f1f1;
	border-right: 1px solid #282828;
	border-bottom: 1px solid #282828;
	border-left: 1px solid #282828;
	list-style-type: none;
	z-index: 1;
}

#nav-second a {
	display: block;
	padding: 5px 10px;
	color: #282828;
	text-decoration: none;
}

#nav-second a:hover {
	color: #f1f1f1;
	background-color: #282828;
}