#wrapper {
	position: fixed;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
}

img {
	float: left;
}

p {
	margin-top: 32px;
	margin-left: 64px;
	font-family: "ו", monospace;
	font-size: 20px;
	font-weight: bold;
}