<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 调度工厂 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<!-- 调度触发器 -->
		<property name="triggers">
			<list>
				<bean class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
					<!-- 定时任务 -->
					<property name="jobDetail">
						<bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
							<!-- 工作bean -->
							<property name="targetObject">
								<bean class="com.airwxtx.quartz.RefreshFreeze" />
							</property>
							<property name="targetMethod">
								<value>execute</value>
							</property>
						</bean>
					</property>
					<!-- 每天0点执行一次 -->
					<property name="cronExpression" value="0 0 0 * * ?" />
				</bean>
			</list>
		</property>
	</bean>

</beans>