<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
	<properties>
		<property name="filenameLog">${sys:catalina.base}/airwxtx/logs/app.log
		</property>
		<property name="filePatternLog">${sys:catalina.base}/airwxtx/logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz
		</property>
	</properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="RollingFile" fileName="${filenameLog}"
			filePattern="${filePatternLog}">
			<PatternLayout
				pattern="%d{yyyy.MM.dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n" />
			<SizeBasedTriggeringPolicy size="500 MB" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<root level="error">
			<appender-ref ref="RollingFile" />
			<appender-ref ref="Console" />
		</root>
	</Loggers>
</Configuration>